<div class="d-flex justify-content-between">
  <h2>Orders</h2>
  <button class="btn btn-dark" [routerLink]="['add-order']">Add new order</button>
</div>
<div class="mt-4 table-responsive">
	<ngx-datatable
    class="material"
    rowHeight="auto"
    [rows]="orders"
    [loadingIndicator]="isLoading"
    [headerHeight]="50"
    [footerHeight]="50"
    [limit]="5">

    <ngx-datatable-column name="Name" width="300">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <strong>{{ value }}</strong>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Category" width="300">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <strong>{{ value }}</strong>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Price" width="300">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <strong>{{ value }}</strong>
      </ng-template>
    </ngx-datatable-column>

  </ngx-datatable>
</div>